.sidebar {
  .list {
    &-item {
      background-color: #fff;
      text-transform: uppercase;
      color: #353535;

      &:hover {
        background-color: #f4f4f4;
      }

      &.is-active {
        background-color: hsl(48, 100%, 67%);
      }
    }
  }
}